/* Color Pallette
===========================
dark blue page background: #051359;
lighterblue question bg: #1A31A6;
mid blue (not used): #051FA6;
light gold beer/correct answer: #C49400;
dark gold/incorrect answer: #594505; */

html {
  background: #051359;
}

body {
  font-family: Helvetica, sans-serif;
  color: #fff;
  /*text-shadow: 2px 2px 2px #000;*/
  letter-spacing: 2px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 90px;
}


header.logo {
  margin: 10px;
}

h4 {
  font-weight: normal;
}

.logged-in-header {
  background-color: #1A31A6;
  background-image: url('../images/GBLogoWithShadows.svg');
  background-repeat: no-repeat;
  background-position: top;
  height: 90px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.current-user-info {
  width: 33%;
  text-align: center;
  margin-top: -10px;
  clear: both;
}

.competitor-info {
  width: 33%;
  text-align: center;
  margin-top: -10px;
}

.score-box {
  background-image: url('../images/scoreBoxShadow.svg'); background-repeat: no-repeat;
  background-position: top;
  margin-top: -5px;
  padding: 10px;
  text-indent: 2px;
}

.timer {
  position: absolute;
  top: 47px;
  left: 35.3%;
  width: 33%;
  height: 90px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  clear: both;
}

header img {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1096px;
  margin: 0 auto;
}

.logo {
  text-align: center
}

.container {
  margin-top: 115px;
}

.btn, .answer {
  width: 45%;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: rgb(26, 49, 165);
  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: 2px 2px 2px #000;
}

.btn:hover, .answer:hover {
  cursor: pointer;
}

.quiz-box {
  display: none;
  width: 85%;
  margin: 0 auto;
  color: #fff;
}

.question {
  margin: 10px auto 20px auto;
  /*width: 56%;*/
  color: #fff;
  font-size: 1em;
}

.answer {
  width: 70%;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: #1A31A6;
  border-radius: 5px;
  border: 3px solid #fff;
}

.game-over {
  background:  #C49400;
  width: 80%;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  border: 3px solid #594505;
  border-radius: 5px;
  display: none;
}

.start, .logout {
  display: none;
  margin-bottom: 20px;
  width: 20%;
  font-size: .85em;
}

.login {
  width: 20%;
  font-size: .85em;
}

.message {
  background:  #C49400;
  width: 20%;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  padding: 10px;
  border: 3px solid #594505;
  border-radius: 5px;
}
