/* Color Pallette
===========================
dark blue page background: #051359;
lighterblue question bg: #1A31A6;
mid blue (not used): #051FA6;
light gold beer/correct answer: #C49400;
dark gold/incorrect answer: #594505; */

html {
  background: #051359;
}

header {
  margin: 10px;
}

header img {
  display: block;
  margin: 0 auto;

}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1096px;
  margin: 0 auto;
}

.logo {
  text-align: center
}

.btn, .answer {
  width: 45%;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: rgb(26, 49, 165);
  border-radius: 5px;
  border: 3px solid #fff;
}

.quiz-box {
  display: none;
  width: 85%;
  margin: 0 auto;
  color: #fff;
}

.question {
  margin: 10px auto 20px auto;
  width: 56%;
  color: #fff;
  font-size: 1.6em;
}

.answer {
  /*margin-bottom: 7px;*/
  width: 45%;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background: #1A31A6;
  border-radius: 5px;
  border: 3px solid #fff;
}

.timer {
  width: 50%;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  font-size: 1.5em;
}

.game-over {
  background: #999;
  width: 50%;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  font-size: 1.5em;
}

.start, .logout {
  display: none;
  margin-bottom: 20px;
}