  <header class="logo">
    <img src="images/GameBuzzWordLogo.png">
  </header>

<div class="container">
  <!-- <h1 class="logo">GameBuzz</h1> -->

  <div class="btn login">
    Login
  </div>

  <div class="btn logout">
    Logout
  </div>

  <div class="btn start">
    Start Game
  </div>

  <div class="timer">
  </div>

  <div class="quiz-box">
    <div class="question">
    </div>
    <div class="answer" data-id='0'>
    </div>
    <div class="answer" data-id='1'>
    </div>
    <div class="answer" data-id='2'>
    </div>
    <div class="answer" data-id='3'>
    </div>
  </div>

  <div class="game-over">
  </div>
</div>
