<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world</p>

<!--   <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button> -->
<!--
  <div id="status">
  </div> -->

  <button>Logout</button>
</div>
