<!--   <header class="logo">
    <img src="images/GameBuzzWordLogo.png">
  </header>
 -->
  <header class="logged-in-header">
    <div class="current-user-info float-left">
      <h4>Player 1</h4>
        <p class="score-box">3</p>
    </div>
    <div class="timer-box">
      <div class="timer float-left">
        <!-- <img src="/images/beerTimer.png"> -->
      </div>
    </div>

    <div class="competitor-info float-right">
      <h4>Player 2</h4>
        <p class="score-box">5</p>
    </div>
  </header>

<div class="container">
  <!-- <h1 class="logo">GameBuzz</h1> -->

  <div class="btn login">
    Login
  </div>

  <div class="btn logout">
    Logout
  </div>

  <div class="btn start challenge">
    Challenge
  </div>

  <div class="btn start accept">
    Accept
  </div>

<!--   <div class="timer">
  </div> -->

  <div class="quiz-box">
    <div class="question">
    </div>
    <div class="answer" data-id='0'>
    </div>
    <div class="answer" data-id='1'>
    </div>
    <div class="answer" data-id='2'>
    </div>
    <div class="answer" data-id='3'>
    </div>
  </div>

  <div class="game-over">
  </div>
</div>
