<div class="container">
  <h1 class="logo">GameBuzz</h1>

  <button id='logout'>logout</button>

  <div class="btn start">
    Start Game
  </div>

  <div class="quiz-box">
    <div class="question-and-answers">
      this is a random question?!
    </div>
  </div>
</div>
